/* Since this is loaded "globally", the #whiskermenu-window
 * selector ensures to apply only for whiskermenu
 */

@import url("WhiskerMenu-MojaveShared.css");

/* XFCE Panel selector, note that this will
 * modify every XFCE Panel (I guess)
 */
.xfce4-panel {
  background-color: rgba(250, 250, 250, 0.8);
}

/* Background color and margin */
#whiskermenu-window > frame {
  background: rgba(250, 250, 250, 0.8);
}

/* Icons hovers */
#whiskermenu-window .launchers *:hover,
#whiskermenu-window .category-button:hover,
#whiskermenu-window .category-button:checked {
  background: rgba(24, 24, 24, 0.2);
}